<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register name="IDbContext"
              type="Data.SmithReview.Domain.Interfaces.IDbContext, Data.SmithReview"
              mapTo="Data.SmithReview.Domain.SmithReviewContext, Data.SmithReview" />
    
    <register name="IGenRepo[,]"
              type="Data.SmithReview.Repos.Interfaces.IGenRepo[,], Data.SmithReview"
              mapTo="Data.SmithReview.Repos.GenRepo[,], Data.SmithReview">
      <constructor>
        <param name="context">
          <dependency name="IDbContext" />
        </param>
      </constructor>
    </register>
    
    <register name="IGenRepo[IDbContext,ReviewableItem]"
              type="Data.SmithReview.Repos.Interfaces.IGenRepo[[Data.SmithReview.Domain.Interfaces.IDbContext,Data.SmithReview], [Data.SmithReview.Domain.ReviewableItem, Data.SmithReview]], Data.SmithReview"
              mapTo="Data.SmithReview.Repos.GenRepo[[Data.SmithReview.Domain.Interfaces.IDbContext,Data.SmithReview], [Data.SmithReview.Domain.ReviewableItem, Data.SmithReview]], Data.SmithReview">
      <constructor>
        <param name="context">
          <dependency name="IDbContext" />
        </param>
      </constructor>
    </register>
    
    <register name="IGenRepo[IDbContext,Review]"
              type="Data.SmithReview.Repos.Interfaces.IGenRepo[[Data.SmithReview.Domain.Interfaces.IDbContext,Data.SmithReview], [Data.SmithReview.Domain.Review, Data.SmithReview]], Data.SmithReview"
              mapTo="Data.SmithReview.Repos.GenRepo[[Data.SmithReview.Domain.Interfaces.IDbContext,Data.SmithReview], [Data.SmithReview.Domain.Review, Data.SmithReview]], Data.SmithReview">
      <constructor>
        <param name="context">
          <dependency name="IDbContext" />
        </param>
      </constructor>
    </register>    

    <register name="IItemOperations"
              type="Operations.SmithReview.Interfaces.IItemOperations, Operations.SmithReview"
              mapTo="Operations.SmithReview.ItemOperations, Operations.SmithReview">
      <constructor>
        <param name="unitOfWork">
          <dependency name="IDbContext" />
        </param>
        <param name="itemsRepo">
          <dependency name="IGenRepo[IDbContext,ReviewableItem]" />
        </param>
      </constructor>
    </register>
  
    <register name="IReviewOperations"
              type="Operations.SmithReview.Interfaces.IReviewOperations, Operations.SmithReview"
              mapTo="Operations.SmithReview.ReviewOperations, Operations.SmithReview">
      <constructor>
        <param name="unitOfWork">
          <dependency name="IDbContext" />
        </param>
        <param name="reviewRepo">
          <dependency name="IGenRepo[IDbContext,Review]" />
        </param>
      </constructor>
    </register>
  </container>
</unity>