@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-theme.css';
body {
    margin:10pt;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
@font-face {
    font-family: bowtie;
    src: url(https://cdn.vsassets.io/v/20170302T003052/_content/Fonts/Icons/bowtie.woff);
}
.vso-icon::before {
    font-family:bowtie;
    content: "\e91d ";
    font-style:normal;
}

.inline-block {
    display:inline-block;
    vertical-align:text-top;
    &-middle {
        vertical-align:middle;
    }
    &-text-bottom {
        vertical-align:text-bottom
    }
}
@import 'loading-spinner.scss';
@import 'catalog/catalog.scss';
@import 'review/review.scss';