<!--
{   
    "Id":1,
    "Name":"GitHub",
    "Icon":null,
    "AverageRating":5,
    "SampleSize":1,
    "Highest":5,
    "Lowest":5
}
-->
<div class="row marketing">
    <div ng-if="$ctrl.busy" class="col-lg-12">
        <span class="fa fa-lg fa-spinner loading-spinner" aria-hidden="true"></span> Loading...
    </div>
    <div class="col-lg-12 text-right">
        <order-ui></order-ui>
    </div>
    <div ng-if="!$ctrl.busy"
         ng-repeat="item in $ctrl.items"
         class="col-lg-6">

        <div class="inline-block item-icon">
            <span class="fa fa-{{item.Icon}}" aria-hidden="true"></span>
        </div>

        <div class="inline-block">
            <h4><a href="/#!/review/{{item.Id}}">{{ item.Name }}</a></h4>
            <p>
                <div uib-rating ng-model="item.AverageRating"
                        max="$ctrl.constraints.maxRating"
                        readonly="true"
                        aria-labelledby="default-rating"></div>
                <div class="text-muted">{{ item.Date | date: "MMMM d, yyyy" }}, {{item.ReviewCount}} Reviews</div>
            </p>
        </div>
    </div>
    
</div>